h1{
    background-color:yellow;
    text-align: center;
    color:#fff;
}

.foo{
    background-color: #555;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    color: #fff;
    margin: 10px;
    padding: 15px;
}

.container{
    background-color: aqua;
    text-align: justify;
    padding: 20px  30px;
    margin-left:5px ;
}